.aside-menu {
    background-color: rgba(45, 65, 91, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 24px;
    position: absolute;
    right: -254px;
    row-gap: 16px;
    top: 77px;
    transition: .3s;
    transform: scaleX(0);
    width: 254px;
}

.active .aside-menu{
    right: 0;
    transform: scaleX(1);
}

.menu__title {
    display: none;
}

.menu__item {
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
    display: flex;
}

.menu__item:nth-child(3){
    border-bottom: 1px solid var(--color-white-op08) ;
    padding-bottom: 24px;
}

.menu__item i {
    align-items: center;
    background-color: var(--color-dar-blue-op16);
    border-radius: 16px;
    color: var(--color-white-op64);
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
}

.menu__item a{
    text-decoration: none;
}

.item__title {
    color: var(--color-white-op64);
}

.selected .item__title,
.selected i {
    color: white;
}

.selected i {
    background-color: var(--color-blue);
}

.aside__profile{
    align-items: center;
    column-gap: 8px;
    display: flex;
    height: 56px;
    justify-content: flex-start;
    width: 206px;
}

.profile__img{
    border-radius: 50px;
    padding-left: 12px;
}

.profile__nome{
    color: var(--color-white);
}

@media (min-width: 768px) {
    /*Tablet*/
    .aside-menu{
        top: 100px;
        right: -500px;
    }
}

@media (min-width: 1200px) {
    /*Desktop*/

    .aside-menu {
        background-color: inherit;
        display: flex;
        padding: 0;
        position: static;
        transform: scaleX(1);
        transition: none;
        width: 272px;
    }

    .active .aside-menu{
        transform: none
    }

    .aside-menu::after {
        content: "";
        border-bottom: none;
    }

    .menu__title {
        color: var(--color-white);
        display: block;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 0.4em;
    }

    .aside__profile{
        display: none;
    }

    .menu__item:nth-child(3){
        border-bottom: none ;
    }
}