.codigo{
    grid-area: codigo;
    width: 100%;
}

.codigo__wrapper {
    background-color: var(--color-light-blue);
    border-radius: 8px;
    height: 492px;
    padding: 32px;
}

.codigo__content{
    background-color: black;
    border-radius: 8px;
    height: 100%;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;


}

.area-codigo{
    background-color: inherit;
    border: none;
    color: var(--color-white);
    font-family: var(--font-roboto-mono);
    font-size: 14px;
    height: 100%;
    line-height: 18.46px;
    padding: 0 !important;
    resize: none;
    width: 100%;   
}

.wrapper-code{
    display: block;
    height: 100%;
    overflow-y: auto;
    padding-left: 2px;
    white-space: pre-line; 
}

.circles{
    display: flex;
    justify-content: space-between;
    height: 12px;
    width: 52px;
}

.circle{
    border-radius: 12px;
    height: 12px;
    width: 12px;
}

.circle:nth-child(1){
    background-color: rgba(255, 95, 86, 1);
}

.circle:nth-child(2){
    background-color: rgba(255, 189, 46, 1);
}

.circle:nth-child(3){
    background-color: rgba(39, 201, 63, 1);
}

.codigo__button{
    background-color: var(--color-dar-blue-op16);
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    cursor: pointer;
    height: 56px;
    margin-top: 32px;
    width: 100%;
}

@media (min-width: 768px) { /*Tablet*/
    .codigo{
        width: 704px;
    }
    
    .codigo__wrapper {
        height: 366px;
        /* height: 100%; */
    }
}

@media (min-width: 1200px) { /*Desktop*/
    .codigo{
        width: 752px;
    }
}