:root {
    --color-dark-blue: rgba(5, 29, 59, 1);
    --color-dar-blue-op16: rgba(80, 129, 251, 0.16);
    --color-light-blue: rgba(107, 209, 255, 1);
    --color-blue: rgba(80, 129, 251, 1);
    --color-white: rgb(255, 255, 255);
    --color-white-op16: rgba(255, 255, 255, .16);
    --color-white-op64: rgba(255, 255, 255, 0.64);

    --font-inter: 'Inter', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
}

.container {
    background-color: var(--color-dark-blue);
    display: grid;
    font-family: var(--font-inter);
    grid-template-areas:
        "header"
        "codigo"
        "formulario";
    grid-template-rows: 56px 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    padding: 16px;
    gap: 40px;
    width: 100%; /*testando responsividade*/
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-areas:
            "header header header"
            "aside-menu codigo formulario";
        grid-template-rows: 56px 1fr;
        max-width: 1440px;
        padding: 32px;
        width: 100%;
    }

}